<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form Submission</h1>
    <h2>Enter your name and age:</h2>
    <form action="/submit" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" required>
        <label for="fav_food">Food:</label>
        <input type="text" id="fav_food" name="food" required>
        <label for="fav_color">Color:</label>
        <input type="text" id="fav_color" name="color" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>